.home {
    display: flex;
    flex-direction: column;
    align-items: center;


    &__title {
        font-size: 3rem;
        margin-top: 2rem;
    }


    &__originalurl {
        margin: 2rem 1rem;
        width: 35rem;
    }

    &__shorturl {
        width: 35rem;
        margin-bottom: 1.5rem;
    }
}

.history {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }


    &__urls {


        &--item {
            
        }
    }



}